@import '../definitions/variables';

.error {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 40;

	background: rgba($red, 0.85);
	backdrop-filter: grayscale(100%) blur(10px);

	&__wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		max-width: 800px;
		max-height: 100%;
		padding: 5% 0 20% 0;
		transform: translate(-50%, -50%);

		color: rgba($text, 0.8);
		text-align: center;
		overflow: auto;
	}

	&__icon {
		font-size: 2.8em;
	}

	&__headline {
		font-size: 1.4em;
		margin-top: 1em;
	}

	&__message {
		font-size: 0.9em;
		margin: 0.8em 0 2.4em;
	}


	&__info {
		margin-top: 1em;
		padding: 1em;
		background: rgba($background, 0.8);
		text-align: left;

		&-label {
			display: block;
			font-size: 0.6em;
			color: rgba($text, 0.6);
		}

		&-content {
			font-family: monospace;
			white-space: pre;
			overflow: auto;
		}
	}
}